<div class="container">

  <h1>
    Ng2-Facebook-SDK Example
  </h1>
  <p>
    This is a basic example on how to use the ng2-facebook-sdk package. Please check your console for responses. There will be no visual feedback here.
  </p>



  <button (click)="login()" class="btn btn-lg btn-primary">
    Login
  </button>

  <button (click)="loginWithOptions()" class="btn btn-lg btn-primary">
    Login with Options
  </button>

  <button class="btn btn-lg btn-primary" (click)="getLoginStatus()">
    Get login status
  </button>


  <button (click)="getProfile()" class="btn btn-lg btn-primary">
    Get profile
  </button>

  <button (click)="getFriends()" class="btn btn-lg btn-primary">
    Get friends
  </button>


  <button (click)="share()" class="btn btn-lg btn-primary">
    Share dialog
  </button>


</div>

<div class="container">
  <h2>Components</h2>
  <fb-like href="https://zyramedia.com"></fb-like>
  <fb-page href="https://facebook.com/zyramedia"></fb-page>
</div>
